/***************************************
/**
/** Easing and keyframe animations.
/**
/** 1. Vars
/** 2. Delcarations
/** 3. Keyframes
/***************************************/

:root {
  --size-xxs: 240px;
  --size-xs: 360px;
  --size-sm: 480px;
  --size-md: 768px;
  --size-lg: 1024px;
  --size-xl: 1440px;
  --size-xxl: 1920px;
}
.grid {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows, 1), 1fr);
  grid-template-columns: repeat(var(--grid-columns, 12), 1fr);
  gap: var(--grid-gutter, var(--gutter));
}

.col-1 {
  grid-column: auto/span 1;
}

.col-2 {
  grid-column: auto/span 2;
}

.col-3 {
  grid-column: auto/span 3;
}

.col-4 {
  grid-column: auto/span 4;
}

.col-5 {
  grid-column: auto/span 5;
}

.col-6 {
  grid-column: auto/span 6;
}

.col-7 {
  grid-column: auto/span 7;
}

.col-8 {
  grid-column: auto/span 8;
}

.col-9 {
  grid-column: auto/span 9;
}

.col-10 {
  grid-column: auto/span 10;
}

.col-11 {
  grid-column: auto/span 11;
}

.col-12 {
  grid-column: auto/span 12;
}

@media (max-width: 576px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  [class*="grid-col--"] {
    grid-column: auto;
  }
}
