@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Heavenly";
  src: url("../fonts/heavenly.otf") format("otf");
}
@font-face {
  font-family: "apercu light";
  src: url("../fonts/apercu-light-pro.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "apercu light italic";
  src: url("../fonts/apercu-light-italic-pro.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "apercu regular";
  src: url("../fonts/apercu-regular-pro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "apercu regular italic";
  src: url("../fonts/apercu-medium-pro.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "apercu medium";
  src: url("../fonts/apercu-bold-pro.woff2") format("woff2");
  font-weight: 600;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "apercu medium italic";
  src: url("../fonts/apercu-black-pro.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/var.ttf"), format(woff2), tech(variations);
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "SuperSpace";
  src: url("../fonts/super-space.otf") format("opentype");
}

@font-face {
  font-family: "MessyBrush";
  src: url("../fonts/brush.ttf") format("truetype");
}
 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  outline: none;
}
html,
body,
#__nuxt,
.default-page,
#smooth-wrapper,
#smooth-content {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  max-width: 100vw;
  margin:0;
}

#smooth-content {
  padding: var(--outer-padding-lg);
  top: 0;
  left: 0;
}
 
.canvas-ui {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 5000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

li {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

img {
  border: none;
  display: block;
}

input,    select, button {
  border: none;
  height: var(--elem-height);
}

input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type="submit"],
button {
  cursor: pointer;
}

input[type="submit"]:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

:root {

        
  --bg-input: #fff;
  --bg-input-hover: #f3f3f3;
  --color-input: #222;
  --border-input: #e9e9e9;
  --bg-checkbox: #d3d3d3;
  --bg-checkbox-true: #222;
  --outer-padding-lg: 88px;
  --header-height: 71px;

  --color-odd-rows: #f3f3f3;
  --avatar-bg: #f8f8f8;
  --rounded-small: 4px;
  --rounded-normal: 8px;
  --rounded-large: 1rem;
  --img-resizing-site: 16 / 12;
  --img-resizing-paronamic: 2 / 1;
  --img-resizing-desktop: 19 / 10;

  --rtd-bg-dark-gradient: linear-gradient(to bottom, #2d2d2d, #121212);
  --rtd-muted-bg: linear-gradient(180deg, #353b43 0%, #1f2226 100%);
  --rtd-light-bg: linear-gradient(180deg, #f5f5f5 0%, #fafaff 100%);
  --rtd-c-white: #ffffff;
  --rtd-c-white-soft: #f8f8f8;
  --rtd-c-white-mute: #f2f2f2;


  --rtd-green: #43f88e;
  --rtd-lime: #56f39a;
  --rtd-c-black: #181818;
  --rtd-c-black-soft: #222222;
  --rtd-c-black-mute: #282828;

  --rtd-c-indigo: #2c3e50;

  --rtd-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --rtd-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --rtd-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --rtd-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --rtd-c-text-light-1: var(--rtd-c-indigo);
  --rtd-c-text-light-2: rgba(60, 60, 60, 0.66);
  --rtd-c-text-dark-1: var(--rtd-c-white);
  --rtd-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-background: var(--rtd-c-white);
  --color-background-soft: var(--rtd-c-white-soft);
  --color-background-mute: var(--rtd-c-white-mute);
  --color-border: var(--rtd-c-divider-light-2);
  --color-border-hover: var(--rtd-c-divider-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--rtd-c-black);
    --color-background-soft: var(--rtd-c-black-soft);
    --color-background-mute: var(--rtd-c-black-mute);

    --color-border: var(--rtd-c-divider-dark-2);
    --color-border-hover: var(--rtd-c-divider-dark-1);

    --color-heading: var(--rtd-c-text-dark-1);
    --color-text: var(--rtd-c-text-dark-2);
  }
}



.dark {
  background: var(--rtd-muted-bg);
}

.error {
  color: crimson;
}
.page {
  min-height: 1000vh;
  /* background: crimson; */
  position: absolute;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
}
#smooth-content {
  padding: 0 88px 88px 88px;
  background: red;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10000;
}
#smooth-content::before,
#smooth-content::after {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 250px;
  z-index: 8000;
}

#smooth-content::before {
  content: "";
  top: 0;

  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 10%, transparent 100%)
       
}

#smooth-content::after {
  content: "";
  bottom: 0;
  -webkit-mask-image: linear-gradient(transparent 0%, rgb(0, 0, 0) 90%);
}
html,
body,
#app,
#nuxt,
main,
#__nuxt {
  min-height: 100vh;
  width: 100%;
 
}
 
 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.super-text {
  font-family: "MessyBrush";
  font-size: 100vh;
  mix-blend-mode: difference;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.3555;
  color: #333333;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


.error #smooth-content::after {
  
    background-image: var(--window-error-gradient-bottom) !important;
       


  }
  .error #smooth-content::before {
 
    background-image: var(--window-error-gradient-top) !important;

  }
 
 .main-canvas-3d, .main-canvas-2d {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  min-height: 100vh !important;
  z-index: 999999999 !important;
  background: transparent;
 }
.main-canvas-3d {
  display: none;
  /* background: darkgrey; */
}
/* .main-canvas-2d {background: darkgrey;} */
#canvas {
  background: babyblue;
}
.gs-dev-tools {
  z-index: 10000 !important;
}

#tweakpane-container {
  width: 300px;
  z-index: 10000 !important;

}

#cursor {
  position: fixed !important;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  will-change: transform;
  margin: -5px 0 0 -5px;
  z-index: 12000 !important;
  display: none;
}
.swatch-grid {
  display: absolute;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(ghostwhite, black);
  z-index: 5000 !important;
  flex-wrap: wrap;
}
.swatch {
  width: 200px;
  height: 200px;

}