@media (prefers-color-scheme: light) {
  :root {
    --color-heading-light: #2d2d2d;
    --color-text-light: #222222;
    --color-background-light: #f5f5f5;
     --window-gradient-top:  linear-gradient(rgb(0, 0, 0) 10%, transparent 100%);
     --window-gradient-bottom: linear-gradient(transparent 0%, rgb(0, 0, 0) 90%);
        
  }
  h1,
  .title {
    color: var(--color-heading-light);
  }
  body,
  p,
  div {
    color: var(--color-text-dark);
  }
  #smooth-content {
    background-color: var(--color-background-light);
  }

  #smooth-content::before {
    top: 0;
    background:var(--window-gradient-top) !important;
  }
  #smooth-content::after {
    bottom: 0;
    background:var(--window-gradient-bottom) !important;
  }

   .error #smooth-content::before {
    top: 0;
    background:var(--window-error-gradient-top) !important;
  }
 .error #smooth-content::after {
    bottom: 0;
    background:var(--window-error-gradient-bottom) !important;
  }
  .super-text {
    color: black;
}

}
